body {
  font-family: 'Mansalva', cursive;
  background: #0b1020;
  color: #f2f4ff;
  padding: 1rem;
  text-align: center;
}

body.sans {
  font-family: sans-serif;
}

#fontChangerBtn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

img, iframe {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}